*{
    margin: 0;
    padding: 0;
}

Body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

#booking-now button{
    padding: 15px 30px;
    border: none;
    background-color: #03ACF2;
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

#inner-nav >div{
    float: left;
}

#inner-nav li{
    list-style-type: none;
}

#logo,#booking-now{
    width: 20%;
    text-align: center;
}





