*{
    margin: 0;
    padding: 0;
}




/* CSS  */
.line {
  height: 100vh;
  border-radius: 10px;
  border-style: none;
  box-shadow: #ADCFFF 0 -8px 6px inset;
  background-color: rgb(111, 46, 215);
  color: #fff;
  font-family: cursive;
  font-size: 1.2rem;
  letter-spacing: -.24px;
  text-align: center;
  transition: all .15s;
  padding: 30px;
}

.lines{
  color: #fff;
  font-family: cursive;
  align-items: center;
  padding: 30px 0;
  justify-content: center;

}







 /* ============================================================ */

 

 .parent-section-1{
  /* height: 100vh; */
  background-color: #ECE4FD;

 }

 .section-1{
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  background-color: #ECE4FD;
     
 }

 .parent-cake-day-img{
  /* height: 100vh; */
  background-color: #ece4fdb5;
 }


 .cake-day-img{
  height: 35em;
  border: 1px solid  #46f5fe;
  border-radius: 20px;
  padding: 2em; 
  width: 25%;
  margin: 0 auto;
 }

 .cake-day-img img{
  height: 34em;
  padding: 10px;
   
 }
 .cake-day-img video{
  height: 34em;
  padding: 10px;
   
 }


 .footer{
  width: 100%;
  border: 1px solid  #46f5fe;
  color:#46f5fe ;
  background-color: rgb(111, 46, 215);
  font-family: cursive;
  font-size: 0.8em;
  text-align: center  ;
  border-radius:50px 50px 0  0 ;
  padding: 5px 0;
}















 /* ==========Mobile Responsive============= */


 @media  (max-width: 768px) {
    .parent-section-1{
      width: 100%;
      height: 100vh;
      background-color: #ECE4FD;
      font-family: 'Brush Script MT', cursive;
      font-weight: bold;
      color: #fff;
      
    }

    .section-1 {
      width: 80%;
      height: 85vh;
      font-size: 1.5em;
      background-color: #ECE4FD;
      box-shadow: #ADCFFF 0 -8px 6px inset;
    
    }

    .line{
      color: #fff;
      background-color: rgb(111, 46, 215);
      font-family: cursive;
      font-weight: 100;
      padding-top: 50px;
      padding-bottom: 50px;
      height: 65vh;
      font-size: 5vw;
    }

    .lines{
      margin: 25% 0 25% 0;
    }

    #emoji{
      margin: -60px 0 10px 0;
    }

   
    .parent-cake-day-img{
      height: 105vh;
      margin-bottom: 15px;
      
     }

     .cake-day-img{
      padding: 20px 0 10px 0;
      width: 100%;
      text-align: center;
      height: 100vh;
      
     }

     .cake-day-img img{
        height: 550px;
        text-align: center;
        padding: 25px 0 25px 0;
        
       
     }
     .cake-day-img video{
      height: 550px;
      text-align: center;
      padding: 25px 0 25px 0;
      
     
   }

   .footer{
    width: 100%;
    border: 1px solid  #46f5fe;
    color:#46f5fe ;
    background-color: rgb(111, 46, 215);
    font-family: cursive;
    font-size: 0.8em;
    text-align: center  ;
    border-radius:50px 50px 0  0 ;
    padding: 5px 0;
  }
 }