*{
    margin: 0;
    padding: 0;
}




/* CSS  */
.lines {
  border-radius: 10px;
  border-style: none;
  box-shadow: #ADCFFF 0 -8px 6px inset;
  color: #000000;
  font-family: -apple-system,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -.24px;
  text-align: center;
  transition: all .15s;
  padding: 30px;
}







 /* ============================================================ */

 

 .parent-section-1{
  /* height: 100vh; */
  background-color: #ECE4FD;

 }

 .section-1{
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  background-color:bisque;
 }

 .parent-cake-day-img{
  /* height: 100vh; */
  background-color: #ece4fdb5;
 }


 .cake-day-img{
  height: 35em;
  border: 1px solid  #46f5fe;
  border-radius: 20px;
  padding: 2em; 
  width: 25%;
  margin: 0 auto;
 }

 .cake-day-img img{
  height: 34em;
  padding: 10px;
   
 }


















 /* ==========Mobile Responsive============= */


 @media screen and (max-width: 768px) {
    .parent-section-1{
      width: 100%;
      height: 90vh;
      background-color: #ECE4FD;
      font-family: 'Brush Script MT', cursive;
      font-weight: bold;
      color: #fff;
      
    }

    .section-1 {
      width: 80%;
      height: 85vh;
      font-size: 1.5em;
      background-color: #ECE4FD;
      box-shadow: #ADCFFF 0 -8px 6px inset;
    
    }

    .lines{
      color: #fff;
      background-color: rgb(111, 46, 215);
      font-family: cursive;
      font-weight: 100;
      padding-top: 50px;
      padding-bottom: 50px;
      height: 65vh;
      font-size: 5vw;
      
      
      /* line-height: 20px; */

    }


    .parent-cake-day-img{
      height: 100vh;
      
     }

     .cake-day-img{
      padding: 20px 0 20px 0;
      width: 100%;
      text-align: center;
      
     }

     .cake-day-img img{
        height: 550px;
        text-align: center;
        padding: 0;
        /* padding-top: 25px; */
       
     }
 }