*{
    margin: 0;
    padding: 0;
}

/* 
.click-btn {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%; 
    
}


/* CSS 
.btn {
  appearance: none;
  background-color: #FFFFFF;
  border-radius: 40em;
  border-style: none;
  box-shadow: #ADCFFF 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:hover {
  background-color: #70f3ff;
  box-shadow: #077882 0 -6px 8px inset;
  transform: scale(1.125);
  color: rgb(34, 53, 125);
  transition: .4s;
}

.btn:active {
  transform: scale(1.025);
}

@media (max-width: 425px) {
    
    .btn {
        font-size: 1.5rem;
        padding: .75rem 2rem;
    }

    .click-btn {
        display: flex;
        justify-content: center;
        position: absolute;
        top: 50%;
        left: 20%;
    }


}
 */


 /* ============================================================ */

 

 .parent-section-1{
  /* height: 100vh; */
  background-color: #ECE4FD;

 }

 .section-1{
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  background-color:bisque;
 }

 .parent-cake-day-img{
  /* height: 100vh; */
  background-color: #ece4fdb5;
 }


 .cake-day-img{
  height: 35em;
  border: 1px solid  #d4cbe7;
  border-radius: 20px;
  padding: 2em; 
  width: 25%;
  margin: 0 auto;
 }

 .cake-day-img img{
  height: 34em;
  padding: 10px;
   
 }


















 /* ==========Mobile Responsive============= */


 @media (max-width: 768px) {
    .parent-section-1{
      width: 100%;
      height: 100vh;
      background-color: #ECE4FD;
    
    }

    .section-1{
      width: 80%;
      font-size: 1.5em;
    }


    .parent-cake-day-img{
    
      
     }

     .cake-day-img{
      padding: 0;
        width: 100%;
        text-align: center;
        /* margin: 0 auto; */
     }

     .cake-day-img img{
        height: 500px;
        text-align: center;
        margin-top: 10px;
        padding: 20px;

       
     }
 }