*{
    margin: 0;
    padding: 0;
}

/* 
.sign-in-card{
    height: 240px;
    width: 310px;
    display: flex;
    flex-direction: column;
    border: 1px solid wheat;
    border-radius: 10px;
    position: relative;
    left: 480px;
    top: 65px;
    padding: 20px;
}


.sign-in-card h1 {
    font-weight: 400;
    font-size: 28px;
    line-height: 1.2;
    font-family:Arial, Helvetica, sans-serif;
}

.form label {
    font-size: 0.9em;
    font-weight: 600;
    font-family: system-ui;
}

.form input{
    width: 305px;
}

#btn{
    background-color: rgb(246, 246, 8);
    border: none;
    border-radius: 5px;
    height: 25px;
}


a{
    text-decoration: none;
    color: rgb(5, 96, 199);
}
 */

 .amz-Icon{
    width: 100%;
    margin: 0 auto;
    width: 20%;
    text-align: center;
    padding: 5px 0 10px 0;
 }

 .amz-Icon:after{
    content: ".in";
    /* font-family: math; */
    position: relative;
    bottom: 15px;
    right: 10px;
 }


.sign-in-card{
    width: 23%;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 25px;
    border: 1px solid #DDD;
    background-color: #fff;
    border-radius: 10px ;
}

.sign-in-card h1{
    font-family: sans-serif;
    font-weight: 100;
    padding-bottom: 20px;

}

.form{
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: rgb(5, 96, 199);
}

a:hover{
    color: #FD9A15;
}

#btn{
    background-color: #ffd414;
    border: none;
    border-radius: 5px;
    height: 25px;
    cursor: pointer;
}
#btn:hover{
    background-color: #F7CA00;
}

.form input{
    height: 25px;
}




.create-new-acc{
    width: 25%;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 25px;
    
}

.new-amz{
    font-size: 12px;
    color: gray;
    text-align: center;
}

.new-amz p:before {
    content: " ";
    display: block;
    background-color: #ddd;
    height: 2px;
    width: 35%;
    position: relative;
    top: 8px;
    left: -6px;
}

.new-amz p:after{
    content: " ";
    display: block;
    background-color: #ddd;
    height: 2px;
    width: 30%;
    position: relative;
    bottom: 10px;
    left: 220px;
}

.create-new-acc button{
    cursor: pointer;
    border-radius: 5px;
    height: 25px;
    border-color: #DDD;
    background-color: #fff;


}

.footer{
    display: flex;
    /* flex-direction: column; */
    
}